section {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(https://www.bing.com/th/id/OGC.7ad0c9b192167fbeac6f53ff97a656df?pid=1.7&rurl=https%3a%2f%2fblog.paperspace.com%2fcontent%2fimages%2f2020%2f01%2fIntro-HELLO-FUTURE-1920x1080_v2.gif&ehk=kieZs1J9%2fABhjl0E3tgIC7uUOl6Zy1SXmqugrJMjbTU%3d) ;
    font-family: 'secular one';
}
  
    body{   
        background-color: black;

    }

 .heading{

padding: 50px;
 }   
   

#pic {
    padding-top: 25%;
    size: 50%;
}
h1 {
   
    font-weight: bolder;
    text-decoration: solid;
    font-size: 30px;
    color: whitesmoke;
    font-size: xx-large;
    text-transform: uppercase;
    margin-left: 3%;
    
    border-radius: 100%;
}
span {
    background-image: url();
    color: navajowhite;
    font-weight: bolder;
    text-decoration: solid;
    font-size: 30px;
    text-transform: capitalize;
    font-size: 70px;
    border-radius: 95%;
    padding-top: 8%;
   
}
/*aboutsection/*/
p{
    color: antiquewhite;
    padding: 20%;
}


#para{

font-weight: bolder;
font-size: 35px;
color: antiquewhite;


}


h4{
    color: antiquewhite;
    padding: 1%;
    text-decoration: underline;
}
h3{
    color: azure;
    padding: 1%;
}

#about{
    background-image: url();
    object-fit: cover;
  

}


#Education{

    padding-top: 4%;
}
h6{
    padding: 2%;
    color: white;
    font-weight: bolder;
    text-decoration: solid;
    font-size: 30px;
    font-size: large;
    text-transform: uppercase;
    margin-left: 3%;
}


h2{
    
    padding: 50px;
   
  
}

.btn{
    margin-left: 0%;
    
   

}
#form{
    background-color: black;
    border-radius: 2%;
   
}


#pic{
    padding-top: 8%;

}
#About{
        color: aliceblue;
        font-weight: bolder;
        
      
     
}
#contact{
    background-color: antiquewhite;

}
li{
    font-weight: bolder;
    font-size: larger;
    
}
h4{
    color: antiquewhite;
    padding: 1%;
    text-decoration: underline;
}
h3{
    color: azure;
    padding: 1%;
}
P{
    /* background-color: aqua; */
}
#about{
    background-image: url(https://i.postimg.cc/MTGCdQwM/photo-1524169358666-79f22534bc6e.jpg);
  
}
#Skills{
    padding: 10%;
    background-color: gray;
   
}
#TESTIMONIALS{
    padding: 5%
}
img{
    border-radius: 50%;
}
p{
    padding: 10%;
}
#g{
    padding: 2%;
}
#T{
  border-radius: 15%;
  padding: 0%;

}